<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 form-yolo">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions btn btn-info w-100">
          <%= f.button :submit, "RESET PASSWORD" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
