<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "yolo.png", class: "logo" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Comece a Investir", wallet_path, class: "nav-link" %>
            </li>
            <% else %>
            <%= link_to "Comece a Investir", new_user_session_path, class: "nav-link" %>
          <% end %>
          <li class="nav-item">
            <%= link_to "Projetos", companies_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sobre Nós", "/about", class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My Wallet", "/wallet", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>

          <% else %>
          <!--li class="nav-item">
            <%= link_to "Quero Investir", new_user_session_path, class: "nav-link" %>
          </li-->
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
