<div>
  <div class="container">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-4 m-3">
        <div class="card-buy-token-emissao-primaria">
          <h2>Emissão primária</h2>
          <p><strong> Nome: </strong><%=@company.name%></p>
          <p><strong> Número de Tokens: </strong><%=@company.max_tokens%></p>
          <p><strong> Tokens vendidos: </strong><%=@company.sold_tokens%></p>
          <p><strong> Preço por token: </strong><%= number_to_currency(@company.price_of_token, unit: "R$", separator: ",", delimiter: "") %></p>
          <%= simple_form_for [@company, @token] do |f| %>
            <%= f.input :purchased_tokens, label: "Quantidade de tokens" %>
            <%= f.submit "Investir", class: 'btn btn-flat'%>
          <% end %>
        </div>
      </div>
      <div class="col-4 m-3">
        <div class="card-buy-token-mercado-secundario">
          <h2>Mercado secundário</h2>
          <% @company.tokens.each do |token|%>
            <div class="card-buy-token-mercado-secundario-content">
              <div class="content-1">
                <% if token.price && token.user != current_user && token.purchased_tokens.positive? %>
                  <p><strong>Quantidade:</strong> <%=token.purchased_tokens%> tokens</p>
                  <p><strong>Preço por token:</strong> <%=number_to_currency(token.price, unit: "R$", separator: ",", delimiter: "")%></p>
                    <div class="content-2">
                      <%=link_to "Comprar", new_token_user_token_path(token), class: 'btn btn-flat'%>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
