

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<div class="banner banner_about" style="background-image: linear-gradient(rgba(255,240,40,0.5),rgba(255,240,40,0.5)), url(https://www.consignet.com.br/wp-content/uploads/2021/07/folha-de-pagamento-automatica-1536x1024.jpg);">
  <div class="home">
    <h1></h1>
    <p><strong>A maior plataforma de investimentos<br> de empresas do Brasil</strong></p>
  </div>
</div>


<!--texto que estou mexendo-->

<div class="home-info row mt-4">
  <div class="home-text mx-5 col-6">
        <h4>Invista em projetos incríveis.</h4>
        <p>Compre e venda suas frações de forma fácil, rápida e segura.</p>
        <a href="#" class="btn btn btn-sm">invista</a>
  </div>

  <div class="home-image col-6">
    <%= image_tag "celular_about.png", class: 'img-fluid w-52' %>
  </div>
</div>

<div class="row d-flex justify-content-center mt-5">
  <div class="card-about title-text align-justify-center text-center mb-4">
    <h4>Como funciona:</h4>
  </div>
  <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
   <img class="rounded-circle" width="100">
    <%= image_tag "search.png", class:"img-responsive", width:"70" %>
    <div class="card-about">
      <h6 class="card-title"><strong>Encontre um projeto </strong></h6>
      <p class="card-text">Na YOLO você encontra projetos de empresas fantásticas.
      Descubra a que mais se parece com você e invista</p>
    </div>
  </div>
    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4;" style="width: 18rem;">
      <img class="rounded-circle" width="100">
      <%= image_tag "coin.png", class:"fa-5x", width:"70" %>
      <div class="card-about justy-align-center">
        <h6 class="card-title"><strong>Compre frações de uma empresa</strong></h6>
        <p class="card-text">Invista em projetos promissores, com grande potêncial de crescimento e geração de lucros</p>
      </div>
    </div>
    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
      <img class="rounded-circle" width="100">
      <%= image_tag "dollar.png", class:"img-responsive", width:"70" %>
      <div class="card-about">
        <h6 class="card-title"><strong>Obtenha lucros</strong></h6>
        <p class="card-text">Na Yolo é possível comprar e revender tokens e obter lucros. A empresa passa a ser mais valorizada e seus tokens também são valorizados.</p>
      </div>
    </div>
    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
   <img class="rounded-circle" width="100">
    <%= image_tag "security.png", class:"img-responsive", width:"70" %>
    <div class="card-about">
      <h6 class="card-title"><strong> Segurança é a nossa prioridade</strong></h6>
      <p class="card-text">Compre frações de empresas com a tecnologia blockchain, em um ambiente totalmente seguro</p>
    </div>
  </div>
</div>



<div class="home-info row mt-4">

  <div class="home-image col-6">
    <%= image_tag "yolonote1.png", class: 'img-fluid w-52' %>
  </div>
  <div class="home-text mx-5 col-6">
        <h4>Invista em projetos incríveis.</h4>
        <p>Compre e venda suas frações de forma fácil, rápida e segura.</p>.</p>
        <a href="#" class="btn btn-sm">invista</a>
  </div>
</div>

<div class="home-info row mt-4">
  <div class="home-text mx-5 col-6">
        <h4>Invista em projetos incríveis.</h4>
        <p>Compre e venda suas frações de forma fácil, rápida e segura.</p>.</p>
        <a href="#" class="btn btn-sm">invista</a>
  </div>
  <div class="home-image col-6">
    <%= image_tag "mina_about.jpg", class: 'img-fluid w-52' %>
  </div>
</div>

<!-- texto renan-->
