

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<div class="banner banner_about" style="background-image: linear-gradient(rgba(255,245,92,0.5),rgba(255,245,92,0.5)), url(https://www.consignet.com.br/wp-content/uploads/2021/07/folha-de-pagamento-automatica-1536x1024.jpg);">
  <div class="container">
    <h1> YOLO</h1>
    <p><strong>A plataforma de investimento<br>
    feita para você e sua empresa</strong></p>

  </div>
</div>


<div class="row mt-4 ">
  <div class="home-text col-6 d-flex align-content-center flex-wrap justify-content-center ">
        <h4>Compre e venda suas frações de forma fácil, rápida e segura.</h4>
        <p>Invista em projetos incríveis</p>
     </div>
  <div class="home-image col-6">
    <%= image_tag "mina_about.jpg" %>
  </div>
</div>

<div class="row mt-4 ">
  <div class="home-text col-6 d-flex align-content-center flex-wrap justify-content-center ">
        <h4>Compre e venda suas frações de forma fácil, rápida e segura.</h4>
        <p>Invista em projetos incríveis</p>
     </div>
  <div class="home-image col-6">
    <%= image_tag "yolonote1.png" %>
  </div>
</div>

<div class="row mt-4 ">
  <div class="home-text col-6 d-flex align-content-center flex-wrap justify-content-center ">
        <h4>Compre e venda suas frações de forma fácil, rápida e segura.</h4>
        <p>Invista em projetos incríveis</p>
     </div>
  <div class="home-image col-6">
    <%= image_tag "yolocel.jpg" %>
  </div>
</div>


<div class="row d-flex justify-content-center mt-4">
  <div class="title-text align-justify-center text-center">
    <h4>Como funciona</h4>
  </div>

  <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
   <img class="rounded-circle" width="100">
    <%= image_tag "search.png", class:"img-responsive", width:"120" %>
    <div class="card-body">
      <h5 class="card-title"><strong>Encontre um projeto </strong></h5>
      <p class="card-text">Na YOLO você encontra projetos de empresas fantásticas.</p>
       <p> Descubra a que mais se parece com você e invista</p>
      </div>
  </div>

    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
      <img class="rounded-circle" width="100">
      <%= image_tag "coin.png", class:"img-responsive", width:"120" %>
      <div class="card-body">
      <h5 class="card-title"><strong>Compre frações de uma empresa</strong></h5>
      <p class="card-text">Invista em projetos promissores, com grande potêncial de crescimento e geração de lucros</p>
      </div>
    </div>
    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
      <img class="rounded-circle" width="100">
      <%= image_tag "dollar.png", class:"img-responsive", width:"120" %>
      <div class="card-body">
        <h5 class="card-title"><strong>bla bla bla bla</strong></h5>
        <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.</p>
      </div>
    </div>

    <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
   <img class="rounded-circle" width="100">
    <%= image_tag "security.png", class:"img-responsive", width:"120" %>
    <div class="card-body">
      <h5 class="card-title"><strong> Segurança </strong></h5>
      <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
  </div>

</div>
