<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/BFI4HKVK6MI6ZCUOTRXJ7R5A3Y.jpg&w=916);">
  <div class="container pading">
    <h1>Fácil de investir, fácil de <strong>lucrar.</strong> Conheça a <strong>YOLO</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
  </div>
</div>
<div class="card-container row d-inline-flex mt-4 justify-content-center">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body-home">
        <h5 class="card-title">Pequenas Empresas</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Investir em quem quer fazer acontecer</p>
        <% if user_signed_in? %>
            <%= link_to 'Saiba Mais', companies_path %>
          <% else %>
            <%= link_to 'Saiba Mais', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body-home">
        <h5 class="card-title">Você Empreendedor</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Seja sócio das empresas</p>
        <% if user_signed_in? %>
            <%= link_to 'Saiba Mais', companies_path %>
          <% else %>
            <%= link_to 'Saiba Mais', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body-home">
        <h5 class="card-title">Negocie seu Token</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">Venda seus ativos para quem quiser</p>
        <% if user_signed_in? %>
            <%= link_to 'Saiba Mais', wallet_path %>
          <% else %>
            <%= link_to 'Saiba Mais', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--div class="row d-flex justify-content-center mt-4">
  <div clas="d-flex col-sm align-content-center flex-wrap justify-content-center">
  </div>
    <div class="title-text align-justify-center text-center">
      <h4 >Os mais investidos</h4>
    </div>
  <div class="card col-sm-12 col-md-6 col-lg-4 mb-4 border" style="width: 18rem;">
   <<img src="</images/gabriel.jpg>" class="card-img-top img-responsive" alt="...">
    <%= image_tag "binance.png", class:"card-img-top img-responsive"%>
    <div class="card-body">
      <h5 class="card-title">Binance Trade Coin</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-sm">saiba mais</a>
    </div>
  </div>
  <div class="card-2 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
    <%= image_tag "delivery.png", class:"card-img-top img-responsive"%>
    <div class="card-body">
      <h5 class="card-title">Delivery Hero</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn btn-sm">saiba mais</a>
    </div>
  </div>
  <div class="card-3 col-sm-12 col-md-6 col-lg-4 mb-4" style="width: 18rem;">
    <%= image_tag "Sensix.png", class:"card-img-top img-responsive"%>
    <div class="card-body">
      <h5 class="card-title">Sensix</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn btn-sm">saiba mais</a>
    </div>
  </div>
</div>
</div-->
<div class="home-info row mt-4">
  <div class="home-text mx-3 col-6">
    <h2>Viva Melhor</h2>
    <h4>Invista seu dinheiro de forma tranquila. E aproveite melhor seu tempo.</h4>
    <% if user_signed_in? %>
        <%= link_to 'Saiba Mais', companies_path %>
      <% else %>
        <%= link_to 'Saiba Mais', new_user_session_path %>
    <% end %>
  </div>
  <div class="home-image col-6">
    <%= image_tag "yolo_1 copy.png", class: 'img-fluid w-100' %>
  </div>
</div>
