<% companies.each do |company|%>
  <div class="col-md-6 col-lg-4 card-group">
    <div class="card m-4" style="width: 18rem;">
      <%= link_to company_path(company) do %>
        <div class="card-body">
          <div>
          <%= image_tag company.image_url, class:"card-img-top img-responsive"%>
          </div>
          <div class="mt-4 col-12">
              <div class="h2-show text-wrap d-flex">
                <div class="h2-1-show">
                  <div class="h2-2-show">
                    <h5 class="card-title"><%= company.name %></h5>
                  </div>
                  <div class="h2-3-show">
                    <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
                  </div>
                  <p class="card-text"><%=company.description%></p>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
