<% companies.each do |company|%>

  <div class="col-12 col-md-6 col-lg-4 card-group">
    <div class="card m-4" style="width: 18rem;">
      <div class="card-body">
        <div>
        <%= image_tag "marcopolo.jpg", class:"card-img-top img-responsive"%>
        </div>
        <h5 class="card-title"><%= company.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
        <p class="card-text"><%=company.description%></p>
        <%= link_to "Detalhes", company_path(company), class:"btn btn btn-sm" %>

      </div>

    </div>
  </div>
<% end %>
