<% companies.each do |company|%>
  <div class="col-md-6 col-lg-3 card-group">
    <div class="card m-4" style="width: 18rem;">
      <%= link_to company_path(company) do %>
        <div class="card-body">
          <div>
          <%= image_tag company.image_url, class:"card-img-top img-responsive"%>
          </div>
          <div class="mt-4">
            <h5 class="card-title"><%= company.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
            <p class="card-text"><%=company.description%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
