<div class="container">
  <div style="width: 400px;", class="mx-auto my-5">
    <%= form_tag companies_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a company"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <div class="row justify-content-center">
  
    <% @companies.each do |company|%>

        <div class="col-12 col-md-6 col-lg-4 card-group">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <div>
              <%= image_tag "binance.png", class:"card-img-top img-responsive"%>
              </div>
              <h5 class="card-title"><%= company.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
              <p class="card-text"><%=company.description%></p>
              <%= link_to "Details", company_path(company), class:"btn btn btn-sm" %>

            </div>

          </div>
        </div>
    <% end %>
  </div>
</div>
