<div class="container" data-controller="company-card">
  <div style="width: 400px;", class="mx-auto my-5">
    <%= form_tag companies_path, method: :get, html: { class:
      'mb-4'  }, data: { company_card_target: 'form' } do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a company",
        data: { company_card_target: 'input',
        action: 'keyup->company-card#update'}
      %>
      <%= submit_tag "Search", class: "btn btn-sm" %>
    <% end %>
  </div>

  <div class="row justify-content-center">

    <% @companies.each do |company|%>

        <div class="col-12 col-md-6 col-lg-4 card-group">
          <div class="card m-4" style="width: 18rem;">
            <div class="card-body">
              <div>
              <%= image_tag "binance.png", class:"card-img-top img-responsive"%>
              </div>
              <h5 class="card-title"><%= company.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= company.activity %></h6>
              <p class="card-text"><%=company.description%></p>
              <%= link_to "Details", company_path(company), class:"btn btn btn-sm" %>

            </div>

          </div>
        </div>
    <% end %>
  </div>
</div>
