<%=image_tag @company.image_url, class: "banner-company-info"%>

<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-10 my-3">
      <div class="card-info-company">
          <div class="h1-show">
            <div>
              <h1><%= @company.name %></h1>
            <div>

            <div>
              <p><%= @company.address %></p>
            </div>

          </div>
        <div class="h2-show">
          <div class="h2-1-show">
            <div class="h2-2-show">
              <h2> Equety</h2>
            </div>
            <div class="h2-3-show">
              <p><%= number_to_currency(@company.equety, unit: "R$", separator: ",", delimiter: "") %></p>
            </div>
          </div>
            <div class="h2-1-show">
              <div class="h2-2-show">
                <h2>Net Inc</h2>
              </div>
              <div class="h2-3-show" >
                <p><%=number_to_currency(@company.net_inc, unit: "R$", separator: ",", delimiter: "") %></p>
              </div>
            </div>
            <div class="h2-1-show">
              <div class="h2-2-show">
                <h2> Activity</h2>
              </div>
              <div class="h2-3-show">
                <p><%= @company.activity %></p>
              </div>
            </div>
        </div>
            <div class="h2-show">
              <div class="h2-1-show">
                <div class="h2-2-show">
                  <h2>Description</h2>
                </div>
                <div class="h2-3-show">
                  <p><%= @company.description %></p>
                </div>
              </div>
            </div>
          <div class="h2-show">
            <div class="h2-1-show">
              <div class="h2-2-show">
                <h2> Tokens</h2>
              </div>
              <div class="h2-3-show">
                <p><%= @company.max_tokens %></p>
              </div>
            </div>
            <div class="h2-1-show">
              <div class="h2-2-show">
                <h2> Price/Token<h2>
              </div>
              <div class="h2-3-show">
                <p><%= number_to_currency(@company.price_of_token, unit: "R$", separator: ",", delimiter: "") %></p>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="d-flex flex-row" style="gap:5px;">
            <p><%= link_to "Voltar", companies_path, class:"btn btn-sm" %></p>
            <p><%= link_to "Investir +", new_company_token_path(@company), class:"btn btn-sm" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-4 my-3">
      <div class="rating-card-group">
        <a href="https://www.glassdoor.com.br/" target="_blank">
          <div class="rating-card">
            <div class="rating-card-content">
              <p><strong>AVALIAÇÃO DOS FUNCIONÁRIOS</strong></p>
              <%=image_tag "glassdoor.jpg", class: "rounded-circle", style: "width: 22px"%>
              <span>Glassdoor<span>
            </div>
          </div>
        </a>
        <a href="https://www.reclameaqui.com.br/" target="_blank">
          <div class="rating-card">
            <div class="rating-card-content">
              <p><strong>AVALIAÇÃO DOS CONSUMIDORES</strong></p>
              <%=image_tag "reclame_aqui.jpg", class: "rounded-circle", style: "width: 25px"%>
              <span>Reclame aqui</span>
            </div>
          </div>
        </a>
        <div class="rating-card">
            <div class="rating-card-content">
              <p><strong>NOTA DA COMPANY</strong></p>
              <% if @rating.persisted? %>
                Sua nota é: <%= '⭐' * @rating.stars %>
              <% else %>
                <%= simple_form_for [@company, @rating] do |f|%>
                  <%= f.input :stars, collection: (0..5) %>
                  <%= f.submit %>
                <% end %>
              <% end %>
                
                
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center h-100">
      <div style="width: 100%; height: 250px;", class="col-12 mt-4 map-container"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
