<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 form-yolo mt-5">
      <p><strong> Name: </strong><%= @company.name %></p>
      <p><strong> Address: </strong><%= @company.address %></p>
      <p><strong> Equety: </strong><%= @company.equety %></p>
      <p><strong> Net Inc: </strong><%= @company.net_inc %></p>
      <p><strong> Activity: </strong><%= @company.activity %></p>
      <p><strong> Description: </strong><%= @company.description %></p>
      <p><strong> Tokens: </strong><%= @company.max_tokens %></p>
      <p><strong> Price/Token: </strong><%= @company.price_of_token %></p>
      <div class="d-grid gap-2 d-md-flex justify-content">
        <p><%= link_to "Investir", new_company_token_path(@company, ),class:"btn btn-sm" %></p>
        <p><%= link_to "Back", companies_path, class:"btn btn-sm" %></p>
      </div>
    </div>
    <div>
    </div>
    <div class="col-4 mt-5">
      <div class="rating_card">
        <p><strong>AVALIAÇÃO DOS FUNCIONÃRIOS</strong></p>
        <%=image_tag "glassdoor.jpg", class: "rounded-circle", style: "width: 22px"%>
        <span>Glassdoor.</span>
      </div>
      <div class="rating_card">
        <p><strong>REPUTAÇÃO DA EMPRESA</strong></p>
        <%=image_tag "reclame_aqui.jpg", class: "rounded-circle", style: "width: 25px"%>
        <span>Reclame aqui.</span>
      </div>
    </div>

  </div>
  <div class="row justify-content-center align-items-center h-100">
      <div style="width: 80%; height: 300px;", class="col-12 mt-4 map-container"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
