<%=image_tag "Sensix.png", class: "banner-company-info"%>

<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4 my-3">
      <div class="card-info-company">
        <p><strong> Name: </strong><%= @company.name %></p>
        <p><strong> Address: </strong><%= @company.address %></p>
        <p><strong> Equety: </strong><%= number_to_currency(@company.equety, unit: "R$", separator: ",", delimiter: "") %></p>
        <p><strong> Net Inc: </strong><%=number_to_currency(@company.net_inc, unit: "R$", separator: ",", delimiter: "") %></p>
        <p><strong> Activity: </strong><%= @company.activity %></p>
        <p><strong> Description: </strong><%= @company.description %></p>
        <p><strong> Tokens: </strong><%= @company.max_tokens %></p>
        <p><strong> Price/Token: </strong><%= number_to_currency(@company.price_of_token, unit: "R$", separator: ",", delimiter: "") %></p>
        <p><%= link_to "Back", companies_path %></p>
        <p><%= link_to "Investir", new_company_token_path(@company) %></p>
      </div>
    </div>
    <div class="col-4 my-3">
      <div class="rating-card-group">
        <a href="https://www.glassdoor.com.br/" target="_blank">
          <div class="rating-card">
            <div class="rating-card-content">
              <p><strong>AVALIAÇÃO DOS FUNCIONÃRIOS</strong></p>
              <%=image_tag "glassdoor.jpg", class: "rounded-circle", style: "width: 22px"%>
              <span>Glassdoor<span>
            </div>
          </div>
        </a>
        <a href="https://www.reclameaqui.com.br/" target="_blank">
          <div class="rating-card">
            <div class="rating-card-content">
              <p><strong>AVALIAÇÃO DOS CONSUMIDORES</strong></p>
              <%=image_tag "reclame_aqui.jpg", class: "rounded-circle", style: "width: 25px"%>
              <span>Reclame aqui</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center h-100">
      <div style="width: 100%; height: 250px;", class="col-12 mt-4 map-container"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
