<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2>Bem-vindo à Yolo.</h2>
      <h7>Faça seu login para continuar.</h7>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        
        
        <div class="form-actions bt_signin my-4 btn btn-primary">
          <%= f.button :submit, "ACESSAR MINHA CONTA" %>
        </div>
      <% end %>

      <h7>Ainda não é cliente? Abra sua conta.</h7>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
